.page {
    width: 100%;
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 60px;
    color: #FFFFFF;
}

@media screen and (max-width: 321px) {
    .page {
        padding-top: 28px;
        padding-bottom: 36px;
    }
}