.photo-cards__title {
    margin: 0;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}