.header {
    width: calc(100% - 200px - 200px);
    min-height: 74px;
    border-bottom: 1px solid #545454;
    display: flex;
    margin: 0 auto;
}

@media screen and (max-width: 321px) {
    .header {
        width: 100%;
        min-height: 56px;
    }
}