.profile__card {
    display: flex;
    column-gap: 30px;
}

@media screen and (max-width: 1023px) {
    .profile__card {
        flex-direction: column;
        align-items: center;
        column-gap: 0;
        margin: 0 auto;
        text-align: center;
    }
}