.profile__edit-btn {
    background-image: url(/mesto-project/images/Edit.png);
    height: 24px;
    width: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    border: 2px solid #fff;
    margin-top: 15px;
    cursor: pointer;
}

.profile__edit-btn:hover {
    opacity: .8;
}

@media screen and (max-width: 321px) {
    .profile__edit-btn {
        margin-top: 8px;
        height: 18px;
        width: 18px;
    }
    
}