.photo-cards__like {
    background-image: url(/mesto-project/images/like.png);
    background-size: contain;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 22px;
    height: 19px;
    padding: 0;
    margin: 0;
    align-self: center;
}

.photo-cards__like:hover {
    opacity: .8;
}

.photo-cards__like:active {
    background-image: url(/mesto-project/images/Union.png);
}