.profile__info {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    row-gap: 10px;
    }


@media screen and (max-width: 1023px) {
    .profile__info {
        justify-content: start;
        margin-top: 26px;
        row-gap: 8px;
        margin-bottom: 36px;
        }
    }