.card__like {
    background-image: url(../../../images/like_light.svg);
    background-size: contain;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 22px;
    height: 19px;
    padding: 0;
    margin: 0;
    margin-right: 5px;
    align-self: center;
}

.card__like:hover {
    opacity: .5;
}

.card__like:active {
    background-image: url(../../../images/like_dark.svg);
}