.profile__add-card-btn {
    background-image: url(../../../images/Plus.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 150px;
    height: 50px;
    border: 2px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 2px;
}

.profile__add-card-btn:hover {
    opacity: .8;
}

@media screen and (max-width: 321px) {
    .profile__add-card-btn {
        margin: 0 auto;
        width: 100%
    }
}