.profile__about-author {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 21.78px;
    max-width: 500px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 321px) {
    .profile__about-author {
        font-size: 14px;
        max-width: 250px;
    }
}